*{
    padding: 0;
    margin: 0;
}

/* google font */
body{
    font-family: 'Poppins', sans-serif;
}
.head-container{
    border: 1px solid limegreen;
    height: 100vh;
}
.banner{
    position: absolute;
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 30px;
    background-color: rgb(0, 49, 57);

    display: flex;
}
.b-text{
    margin-left: 106px;
    margin-top: 111px;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
    /* padding: 16px 25px;
    gap: 10px; */
}
.b-head{
    color: white;
    font-size: 70px;
    font-weight: 800;
    line-height: 80px;
}
.b-para{
    color: white;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
}
.b-btn{
    color: rgb(0, 49, 57);
    border-style: none;
    font-size: 20px;
    /* font-weight: 540; */
    /* text-shadow: 4px 4px 10px black; */
    background-color: rgba(255, 242, 0, 0.905);
    border-radius: 10px;
    position: absolute;
    width: 187px;
    height: 56px;
}
.b-btn:hover{
    color:white;
    background-color: red;
}

.b-img{
    /* position: absolute; */
    width: 581px;
    height: 613px;
    margin-top: 32px;
    margin-left: 50px;
}

/* second section starts from here  */
.nav-container{
    /* border: 2px solid black; */
    background-color: rgb(0, 49, 57);
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 50px;
    height: 312px;
    width: 312px;
}
.nav-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-bottom: 5px; */
    height: 84px;
    width: 252px;
}